Finished Tasks
<form class="pull-right form-search">
    <span class="btn-group">
        <button class="btn"><i class="icon-arrow-left"></i></button>
        <button class="btn"><i class="icon-home"></i></button>
        <button class="btn"><i class="icon-arrow-right"></i></button>
    </span>
    <span class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <strong>5 - 8 February</strong>&nbsp;
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#"><strong>Day</strong>, 5 February</a></li>
            <li><a href="#"><strong>Week</strong>, 31 January to 5 February</a></li>
            <li><a href="#"><strong>Month</strong>, 1 January to 5 February</a><hr/></li>
            <li><strong class="apply-dates">Custom period</strong>
                <button class="btn apply-dates" type="submit">Apply</button>
            </li>
            <li>
                <div class="datepicker" data-date="12-02-2012" data-date-format="dd-mm-yyyy"></div>
                <div class="datepicker" data-date="12-02-2012" data-date-format="dd-mm-yyyy"></div>
            </li>
        </ul>
    </span>
    <input type="search" placeholder="Filter Text" />
</form>
