Tracked Tasks&nbsp;
<span class="spent-time">
    <span id="spent-time">{{total_time_str}}</span>
</span>
<div class="pull-right query-controls">
<span class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <!-- TODO: this must depend on the "view" set in QueryControlsView -->
        {[ if (view === "day")  { ]}
            <strong>{{day_str}}</strong>&nbsp;
        {[ } ]}
        {[ if (view === "week")  { ]}
            <strong>{{week_str}}</strong>&nbsp;
        {[ } ]}
        {[ if (view === "month")  { ]}
            <strong>{{month_str}}</strong>&nbsp;
        {[ } ]}
        {[ if (view === "custom")  { ]}
            <strong>{{custom_str}}</strong>&nbsp;
        {[ } ]}
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="#" class="choose-day"><strong>Day</strong>, {{day_str}}</a></li>
        <li><a href="#" class="choose-week"><strong>Week</strong>, {{week_str}}</a></li>
        <li><a href="#" class="choose-month"><strong>Month</strong>, {{month_str}}</a><hr/></li>
        <li>
            <form class="choose-custom-period">
                <div class="datepicker dp-start" data-date-format="dd-mm-yyyy"></div>
                <div class="datepicker dp-end" data-date-format="dd-mm-yyyy"></div>
            </form>
        </li>
    </ul>
</span>
<span class="btn-group">
    <button class="btn page-left"><i class="icon-arrow-left"></i></button>
    <button class="btn page-home"><i class="icon-home"></i></button>
    <button class="btn page-right"><i class="icon-arrow-right"></i></button>
</span>
<form class="form-search filter-tasks export-tasks">
    <div class="input-group">
        <input class="form-control tasks-filter" type="search" placeholder="Filter Text" />
        <span class="btn-group">
            <button type="button" class="tasks-filter-type btn btn-default dropdown-toggle"
                    data-toggle="dropdown" data-filter-type="description" aria-haspopup="true" aria-expanded="false">
                Task Name&nbsp;<span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="#" class="filter-by-name">Task Name</a></li>
                <li><a href="#" class="filter-by-category">Task Category</a></li>
            </ul>
        </span><!-- /btn-group -->
        <button class="btn export-csv" type="submit">Export CSV</button>
    </div><!-- /input-group -->
</form>
</div>
